<!DOCTYPE html>
<html>
<head>
  <title>Bienvenido a Rickr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:notice] %>
  <p id="notice"><%= flash[:notice] %></p> 
  <% end %>
  <div id="superior">
  </div>
  <div id="cuerpo">
    <%= yield %>
  </div>
  <div id="pie">
    rickr 2012
  </div>
</body>
</html>